@(userForm: Form[User])(implicit request: Http.Request, messages: play.i18n.Messages)

@import helper._

@implicitField = @{
    FieldConstructor(tags.forms.field_constructor.render)
}

@main {

    <h1 class="my-3" id="page-title">Signup</h1>

    @form(routes.UserController.saveUser()) {

        @CSRF.formField
        <div class="row">
            <div class="col-md-3 mb-3">
            @inputText(userForm("name"), Symbol("_label") -> "name", Symbol("_help") -> "")
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mb-3">
            @inputText(userForm("email"), Symbol("_label") -> "email", Symbol("_help") -> "")
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mb-3">
            @inputText(userForm("password"), Symbol("_label") -> "password", Symbol("_help") -> "")
            </div>
        </div>

        <div class="actions">
            <button class="btn btn-success" type="submit">Submit</button>
            <span class="mx-2">or</span>
            <a href="@routes.UserController.listUsers()" id="add" class="btn btn-light" role="button">Cancel</a>
        </div>
    }

}
