@import play.mvc.Http.Request
@import helper._

@import models.issue.Issue
@(uForm: Form[Issue],  contactInfo: models.ContactInfo)(implicit request: Request, messages: Messages)
@main("Create Issue") {
    <nav class="nav">
        <a class="nav-link" href="/">Issue tracker</a>
        <a class="nav-link" href="/login">Login</a>
        <a class="nav-link" href="/logout">Logout</a>
        <a class="nav-link" href="/user">Create User</a>
        <a class="nav-link" href="/allusers">Users</a>
        <a class="nav-link" href="/issueList">Issues</a>
    </nav>
    <div>
        <section class="banner">
            <div class="p-5 mb-4 banner-content">
                <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold">Issue Tracker</h1>
                    <p class="col-md-12 fs-4">
                        Demo Issue Tracker
                    </p>
                    <p class="col-md-12 fs-4">
                        Play Framework training App
                    </p>
                </div>
            </div>
        </section>
    </div>
    <body style="align-items: center; text-align: center">
        <form method="POST" action="@routes.IssueController.addIssue()">
            @helper.CSRF.formField
            <input type="text" name="title"/>
            <input type="text" name="application"/>
            <input type="text" name="category"/>
            <input type="text" name="viewStatus"/>

            <input type="text" name="summary"/>
            <input type="text" name="description"/>
            <button>Add User</button>
        </form>
    </body>
    <section class="contact">
        <p>mdLima development</p>
        <div class="contact-info">
            <p>@contactInfo.address</p>
            <p>|</p>
            <p>@contactInfo.telephone</p>
            <p>|</p>
            <p>@contactInfo.email</p>
        </div>
    </section>
}