@import play.mvc.Http.Request

@(issuesList: Seq[Issue], monthlyRevenues: String, contactInfo: models.ContactInfo)(implicit request: Request)
@main("Issue Tracker") {
  <nav class="nav">
    <!--<a class="nav-link" href="/">Issue tracker</a>-->
    <a class="nav-link" href="/login">Login</a>
    <a class="nav-link" href="/logout">Logout</a>
    <a class="nav-link" href="/user">Create User</a>
    <a class="nav-link" href="/users">Users</a>
    <a class="nav-link" href="/issue">Create Issue</a>
    <a class="nav-link" href="/issueList">Issues</a>
  </nav>
<div>
  <section class="banner">
    <div class="p-5 mb-4 banner-content">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Issue Tracker</h1>
        <p class="col-md-12 fs-4">
          Demo Issue Tracker
        </p>
        <p class="col-md-12 fs-4">
          Play Framework training App
        </p>
      </div>
    </div>
  </section>
  <div class="container-fluid no-padding">
    <section class="py-5 centered">
      <div class="row g-5 py-5">
        @for(issue <- issuesList) {
          <div class="product col-md-4">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">@issue.title</h5>
                <h6 class="card-subtitle mb-2 text-muted">@issue.summary</h6>
                <p class="card-text">@issue.viewStatus</p>
                <a href="#" class="card-link">Saiba mais</a>
              </div>
            </div>
          </div>
        }
      </div>
    </section>
    <!--<section class="revenue centered">
      <h2>Nosso valor</h2>
      <div class="row">
        <div class="col">
          <canvas id="chart"></canvas>
        </div>
        <div class="col revenue-text">
          <div>
            <h3>Patrimônio gerido</h3>
            <p>
              O gráfico ao lado  representa o crescimento dos investidores na nossa equipe.
              Nele temos o patrimônio líquido, em milhões de reais, investido nos nossos 3 fundos
              e controlado por nossos gestores nos últimos 6 meses.
            </p>
          </div>
        </div>
      </div>
    </section> -->
  </div>
  <section class="contact">
    <p>mdLima development</p>
    <div class="contact-info">
      <p>@contactInfo.address</p>
      <p>|</p>
      <p>@contactInfo.telephone</p>
      <p>|</p>
      <p>@contactInfo.email</p>
    </div>
  </section>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  let monthlyString = "@monthlyRevenues";
  monthlyString = monthlyString.replaceAll('&quot;', '\"');
  const monthsList = JSON.parse(monthlyString);

  const revenues = [];
  const months = [];

  monthsList.forEach((item) => {
    revenues.push(item.revenue);
    months.push(item.yearMonth);
  });

  const labels = months;
  const data = {
    labels: months,
    datasets: [{
      label: 'R$',
      backgroundColor: 'rgb(64,64,64)',
      borderColor: 'rgb(64, 64, 64)',
      data: revenues,
    }]
  };
  const config = {
    type: 'line',
    data,
    options: {}
  };
  let myChart = new Chart(
          document.getElementById('chart'),
          config
  );
</script>
}
