@import play.mvc.Http.Request


@(issueList: Seq[Issue], contactInfo: models.ContactInfo)(implicit request: Request)
@main("Issue List") {
    <nav class="nav">
        <a class="nav-link" href="/">Issue tracker</a>
        <a class="nav-link" href="/login">Login</a>
        <a class="nav-link" href="/logout">Logout</a>
        <a class="nav-link" href="/users">Users</a>
        <a class="nav-link" href="/issueList">Issues</a>
        <a class="nav-link" href="/issue">Create Issue</a>
    </nav>
    <div>
        <section class="banner">
            <div class="p-5 mb-4 banner-content">
                <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold">Issue Tracker</h1>
                    <p class="col-md-12 fs-4">
                        Demo Issue Tracker
                    </p>
                    <p class="col-md-12 fs-4">
                        Play Framework training App
                    </p>
                </div>
            </div>
        </section>
        <div class="container-fluid no-padding centered">
            <section class="py-5 centered">
                <div class="issueList-info">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">id</th>
                                <th scope="col">Title</th>
                                <th scope="col">Application</th>
                                <th scope="col">Category</th>
                                <th scope="col">View Status</th>
                                <th scope="col">Summary</th>
                                <th scope="col">Description</th>
                                <th scope="col">Submitted</th>
                                <th scope="col">Last Updated</th>
                            </tr>
                        </thead>
                        <tbody>
                        @for(issue <- issueList) {

                            <tr>
                                <th scope="row">@issue.id</th>
                                <td><a href="/issueList/@issue.id.toString()">@issue.title</a></td>
                                <td>@issue.application</td>
                                <td>@issue.category</td>
                                <td>@issue.viewStatus</td>
                                <td>@issue.summary</td>
                                <td>@issue.description</td>
                                <td>@issue.submitted</td>
                                <td>@issue.lastUpdated</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>

    <section class="contact">
        <p>mdLima development</p>
        <div class="contact-info">
            <p>@contactInfo.address</p>
            <p>|</p>
            <p>@contactInfo.telephone</p>
            <p>|</p>
            <p>@contactInfo.email</p>
        </div>

    </section>
}