@import play.mvc.Http.Request


@(issue: Issue, contactInfo: models.ContactInfo)(implicit request: Request)
@main("test") {
  <nav class="nav">
    <a class="nav-link" href="/">Issue tracker</a>
    <a class="nav-link" href="/aboutus">Login</a>
    <a class="nav-link" href="/contact">Logout</a>
    <a class="nav-link" href="/users">Users</a>
    <a class="nav-link" href="/issueList">Issues</a>
  </nav>
  <div>
    <section class="banner">
      <div class="p-5 mb-4 banner-content">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Issue Tracker</h1>
          <p class="col-md-12 fs-4">
            Demo Issue Tracker
          </p>
          <p class="col-md-12 fs-4">
            Play Framework training App
          </p>
        </div>
      </div>
    </section>
  <div class="products" style="text-align: center">
    <h1>Details</h1>
  </div>

  <div class="products-info" style="text-align: center">

    <h1>@issue.title</h1>
    <h2>Application: @issue.application</h2>
    <h2>Category: @issue.category</h2>
    <h2>Status: @issue.viewStatus</h2>

    <h3>Description : @issue.description</h3>
    <h3>Summary : @issue.summary</h3>

    <h3>Submitted : @issue.submitted</h3>
    <h3>Last Updated : @issue.lastUpdated</h3>
  </div>

    <section class="contact">
      <p>mdLima development</p>
      <div class="contact-info">
        <p>@contactInfo.address</p>
        <p>|</p>
        <p>@contactInfo.telephone</p>
        <p>|</p>
        <p>@contactInfo.email</p>
      </div>

    </section>
  </div>
}