@import play.mvc.Http.Request


@(usersList: Seq[User], contactInfo: models.ContactInfo)(implicit request: Request, messages: Messages)
@main("test") {
    <nav class="nav">
        <a class="nav-link" href="/">Issue tracker</a>
        <a class="nav-link" href="/aboutus">Login</a>
        <a class="nav-link" href="/contact">Logout</a>
        <a class="nav-link" href="/users">Users</a>
        <a class="nav-link" href="/issueList">Issues</a>
    </nav>
    <div>
        <section class="banner">
            <div class="p-5 mb-4 banner-content">
                <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold">Issue Tracker</h1>
                    <p class="col-md-12 fs-4">
                        Demo Issue Tracker
                    </p>
                    <p class="col-md-12 fs-4">
                        Play Framework training App
                    </p>
                </div>
            </div>
        </section>
        <div class="container-fluid no-padding centered">
            <section class="py-5 centered">
                <div class="issueList-info">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Issues Assigned</th>
                            </tr>
                        </thead>
                        <tbody>
                        @for(user <- usersList) {

                            <tr>
                                <th scope="row">@user.id</th>
                                <th scope="row">@user.name</th>
                                <td><a href="/users/@user.id.toString()">@user.name</a></td>
                                <td>
                                @for(i <- user.issueList) {
                                    @i,
                                }
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>

    <section class="contact">
        <p>mdLima development</p>
        <div class="contact-info">
            <p>@contactInfo.address</p>
            <p>|</p>
            <p>@contactInfo.telephone</p>
            <p>|</p>
            <p>@contactInfo.email</p>
        </div>

    </section>
}